body {
  min-height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #f9faf8;
}

.header {
  padding: 24px 240px 24px 240px;
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  margin-right: 48px;
}

.header-links {
  display: flex;
  gap: 24px;
}

.header-links a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}


.hero {
  padding: 120px 240px 120px 240px;
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 96px;
}

.hero-container {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}

.placeholder-container {
  flex: 1 1 0;
}
.title h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0;
}

.subject p {
  font-size: 18px;
  color: #e5e7eb;
}

.placeholder img {
  width: 100%;
  height: auto;
  border-radius: 25px;
}

.item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.information {
  display: flex;
  flex-direction: column;
  background-color: #f9faf8;
  padding: 0px 320px 160px;
}

.gallery {
  display: flex;
  justify-content: space-between;
}

.random {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 200px;
  gap: 24px;
  text-align: center;
}

.item img {
  border-radius: 16px;
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 160px 360px 160px 360px;
  background-color: #e5e7eb;
}

.quote {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  text-align: left;
}

.author {
  color: #1f2937;
  font-weight: bold;
  font-size: 24px;
  display: flex;
  align-self: flex-end;
}

.cta-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3882f6;
  padding: 40px 80px 40px 80px;
  margin: 80px 200px 80px 200px;
  border-radius: 24px;
}

.cta {
  background-color: #3882f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.cta p {
  margin: 0;
}

.sign-up {
  text-decoration: none;
  color: #f9faf8;
  border-radius: 6px;
  border: solid;
  padding: 8px 12px 8px 12px;
}

.sign-up a {
  text-decoration: none;
  color: #f9faf8;
}

.cta-title {
  font-weight: 700;
  color: #f9faf8;
  font-size: 32px;
}

.cta-subtext {
  color: #e5e7eb;
  font-size: 20px;
}
